.back {
  background-color: #f0f0f0;
}
.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;
}
.padder {
  margin: 1em;
}
.styleloginsignup {
  padding-top: 20px;
}
#root {
  height: 100%;
  background-color: #f0f0f0;
}
.LoginBox {
  display: grid;

  height: 100%;
  align-items: center;
  color: teal;
  text-align: center;
  grid-auto-columns: auto auto auto;
}
.LoginBox h1 {
  text-align: center;
}
.padder {
  margin: 1em;
}
.styleloginsignup {
  padding-top: 20px;
}

#navbarSupportedContent {
  margin-left: 75%;
}

.nav-item {
  margin-right: 10px;
}
